body {
font-size: 1em;
padding: 0px;
line-height: 1.4;
font-weight: 400;
color: #34495e;
cursor: default;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.center{
    text-align: center;
}
.content-top{
    margin-top: 5.2em;
}
.flexslider{
    border: none;
}
a.red{
    color: #E74C3C;
}
/*  Nasscom buttons
--------------------------*/

#register-button{
    position: fixed;
    top: 14px;
    right:5%;
    z-index: 9999;
}
  #register-button .btn{
    padding: 5px 10px 7px;
}
.btn.btn-danger {
  background-color: #E74C3C;
}
.btn.btn-danger:hover{
background-color: #C0392B;
}
.btn.btn-success {
  background-color: #2ECC71;
}
.btn.btn-success:hover{
background-color: #27AE60;
}
/*  TOP NAVIGATION
--------------------------*/
h1.brand{
    float:left;
    width:140px;
    margin: 5px 20px 0 0;
}
.top-bar {
    background:url(../img/bk_nav.png) 0 100%;
    text-align: center;
    height:91px;
    text-transform:uppercase;
    position:fixed;
    top:0;
    z-index:103;
    width:100%;
}
.top-bar  nav {
float: right;
}
nav ul.nav-top {
margin: 10px 0  10px;
}
nav ul.nav-top li{
    line-height: 24px;
}
div.main_nav{
    clear: right;
    float: right;
}
nav ul.nav-top a{
    font-size: 20px;
}
nav ul.nav-main {
margin: 5px 10px 20px 0;
display: block;
clear: right;
}
nav ul li {
    display:inline-block;
    text-align:center;
}
nav ul li > a{
    display: inline-block;
    padding:0 16px;
    color: #fff;
    font-weight: bold;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
nav ul li > a:hover{
    color: #E74C3C;
}

.top-bar a.register-button{
float: right;
padding: 5px 15px;
margin:0 10px;
background: #E74C3C;
position: relative;
color: #fff;
font-weight: 400;
border-radius: 2px;
text-shadow: 2px 2px 0 rgba(0,0,0,0.07);
}
nav.mobile-menu{
    display:none;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

}
.nav-margin{
    width: 200px;
}

.footer-nav ul li {
    padding:0 20px;
}

nav a, nav a:visited {
    opacity:0.8;
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    transition:opacity 0.2s;
    color:#fff;
}
nav a{
    text-decoration:none;
}
nav a:hover {
    text-decoration:none;
    opacity:1;
}
.natc-brand{
    margin: 10px 10px;
    position: relative;
    color: #fff;
    z-index: 1000;
}
a.menu-link {
    display:none;
    position:relative;
    z-index:1000;
    text-transform:uppercase;
    color:#fff;
    font-weight:700;
    padding:0.7em 1em;
}
a.menu-link,a.menu-link:visited {
    text-decoration:none;
}


/*  HEADER BANNER
--------------------------*/

header {
padding-top: 50px;
width: 100%;
text-align: center;
z-index: 100;
padding-bottom: 20px;
top: 0;
}

.logo, .nasscom-logo {
font-size: 70px;
font-weight: 900;
color: #E74C3C;
text-shadow: 1px 1px #fff, 0 0 0 #000, 1px 1px #fff;
line-height: 1;
margin: 15px 0 110px;
position: relative;
z-index: 100;
}
.nasscom-logo span.tag{
display: block;
font-size: 45px;
font-weight: 400;
color: #2C3E50;
line-height: 1.2;
}
.nasscom-logo span.fade-date{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #7F8C8D;
    line-height: 1;

}
.intro{
display: block;
font-weight:300;
font-size: 25px;
}
.flexslider{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;

}

/*  Speakers
--------------------------*/
#loaderCircle {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background-image: url('../img/loader.gif');
}
.speakers, .why-attend, .blog{
    padding:3em 0; 
    border-bottom: 1px solid #E6E6E6;
}
.speakers h2, .why-attend h2, .blog h2, .sponsors h2, h2.main-heading {
    padding-bottom: 30px;
    font-size: 45px;
}
.speakers-pic{
    padding: 30px 0;
}
 .sponsors{
    padding:3em 0;
}

/*  Why attend  */

.benefits img{
    margin-top: 10px;
    width: 150px;
    margin-bottom: 10px;
}
.benefits p{
    margin-top: 10px;
}
.benefits .span3{
    padding: 20px;
}
.why-attend p{
    font-size: 19px;
}


/*  Blog Styles
--------------------------*/
a.blog-post{
    padding: 10px;
    border-bottom: 2.5px solid rgb(230, 230, 230);
    text-decoration: none;
}
p.blog-desciption{
    color: #34495e;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    text-overflow:ellipsis;
}
.post-date{
    padding-top: 5px;
    color: #95A5A6;
}

h3.post-title{
    font-size: 26px;
    color: #2C3E50;
    line-height: 30px;
    white-space: nowrap;
    font-style: italic;
    overflow: hidden;
    text-overflow:ellipsis;
}
#tweets{
    padding:20px;
}
.social-tweets{
   padding: 50px 0;
}
#tweets ul{
margin-left:0px;}

#tweets ul li{
    list-style: none;
}
.recent-tweet p{
    font-size: 19px;
    line-height: 28px;

}
.recent-tweet p a{
    color:#7F8C8D;
}
.timestamp a{
    text-decoration: none;
    color:#7F8C8D;
}
p.timestamp span{
    padding-left: 25px;
    background: url(../img/time.png) center left no-repeat;
}

/* Footer sponsors image  change */

.rotator{
    width: 220px;
    text-align: center;
}
.rotator a{
    position: absolute;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.rotator a img{
    text-align: center;
}



/*  Sponsors Page
--------------------------*/
.sponsors-box ul li{
    display: inline-block;
    min-width: 245px;
    max-width: 245px;
    height: 272px;
}
.sponsors-container{
    overflow: hidden;
    min-width: 240px;
    max-width: 240px;
    height: 270px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #fff;
    background: #FAFAFA;
}
.sponsors-container .category-top{
    background:#5882FA;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #FFFFFF;
    border-bottom: 1px solid #D8D8D8;
}
.sponsors-container .image-box{
    height: 170px;
    background: #eee;
    vertical-align: center;
}
.sponsors-container .image-box img{
    vertical-align: middle;
    padding: 10px;
    width: 220px;
    max-width: 220px;
}
.sponsors-container .sponsor-desc{
    height: 58px;
    background: #fff;
}
.image-align{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.image-align img{
    vertical-align: middle;
}
.muted-text{
color: #BDBDBD;
}

#sponsors-img{
    padding: 30px 0;
}

#sponsors-img img{
    width: 220px;
    padding: 10px 0;
    -webkit-filter: grayscale(100%);
    -moz-fliter: grayscale(100);
    filter: gray;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 0.6;
}
#sponsors-img img:hover {
-webkit-filter: grayscale(0%);
filter: none;
opacity: 1
}
/*  MEDIA QUERIES
--------------------------*/

@media screen and (max-width: 1024px) {

    nav ul li {
        font-size:0.9em;
    }
    nav ul li > a{
        padding: 0 8px;
    }
    h1.brand{
        width: 120px;
        margin: 5px 5px 0 0px;
    }
}

@media screen and (max-width: 767px) {

    .top-bar{
        position:fixed;
        height:45px;
    }
    nav ul.nav-main li{
        padding: 5px 5px;
    }

    .logo {
        margin-bottom:50px;
    }

    .nav-left, .nav-right, .top-logo {
        display:none;
    }

    .wrapper.active {
        left: 15em;
        position:relative;
    }
    a.menu-link {
        float: left;
        display: block;
    }
    nav.mobile-menu {
      display:block;
      clear: both;
      overflow: hidden;
      background:#373435;
      box-shadow:1px 0 3px #ccc;
      z-index: 109;
      -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    }
    .js nav.mobile-menu {
      width: 15em;
      height: 100%;
      position: absolute;
      top: 0;
      left: -15em;
    }
    nav.mobile-menu ul {
      margin: 0;
      padding: 0;
    }

    nav.mobile-menu li {
        display:block;
        text-align: left;
    }
    nav.mobile-menu li a {
      display: block;
      padding: 0.8em;
      color: #fff;
      border-bottom: 1px solid #333;
      text-transform:uppercase;
    }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
    .logo {
        font-size:65px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size:50px;
        margin-bottom:20px;
    }

}
@media screen and (max-width: 740px){
    nav.mobile-menu li {
        display: block;
        text-align: left;
    }
    #register-button{
       top: 5px;
    }
}

.speakers-pic .content{
    padding-top: 50px;
    text-align: center;
}

.speakers-pic .links{
    text-align: center;
}

.speakers-pic > .span3 div.back{
    width: 270px;
    height: 190px;
}

/* SIDEBAR
---------------- */
.sidebar{
    color: #000;
    padding-top:5.1em;
    background:#fff;
}
.sidebar .nav a {
  display: block;
  padding: 0.1em 0.8em;
  color: #000;
  border-bottom: 1px solid #333;
  text-transform:uppercase;
  text-decoration: none;
  cursor: pointer;
}
.sidebar .nav a:hover{
   color: #000;
  background-color: #ECF0F1;
}
#weather{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    border-bottom: 1px solid #333;
}
#weather h2{
    font-size: 2em;
    font-weight: lighter;
    margin: 0px;
}
#weather h3{
    font-size: 1.3em;
    font-weight: normal;
    margin: 0px;
    padding: 0px
}
#weather .temp{
    font-size: 6em;
    font-weight: lighter;
}
#weather .btn{
    color: #000000;
}
#weather .btn.active{
    background: #222222;
    color: #FFFFFF;
}

/* Schedule Page
---------------------- */
.box-inside{
    margin-top: 50px;
    padding:40px;
}
.schedule h2{
    font-size: 30px;
    padding-bottom: 2px;
    border-bottom: 2px solid #BDC3C7;
    margin-bottom: 10px;
}
.schedule ul.nav{
    list-style: none;
}
.schedule ul.nav li{
    display: inline-block;
}
.schedule ul.nav li >a {
    padding: 5px 8px;
    border-radius: 4px;
    color:#34495e;
    font-size: 18px;
}
.schedule-table thead {
    background: #2C3E50;
    font-size: 13px;
    color: #FFFFFF;
}
.schedule-table thead tr :first-child{
    font-size: 17px;
    min-width: 210px;
    max-width: 210px;
}
.schedule-table thead tr th{
    text-align: center;
}
.schedule-table thead tr th{
    max-width: 70px;
    min-width: 70px;
}
.schedule-table .media{
    float: left;
}
.schedule-table .media img{
    width: 50px;
    vertical-align: middle;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
}
.label-light{
    background: #fff;
    color: #2C3E50;
}
td.bigdata_colo, td.mobile_color, td.cloud_color, td.workshop_color{
    font-size: 14px;
}

.bigdata_color .media, .mobile_color .media, .cloud_color .media, .workshop_color .media{
    padding-right: 40px;
    overflow:hidden;
}


.bigdata_color, .mobile_color, .cloud_color, .workshop_color{
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: none;
}
.schedule-table tbody td{
    max-height: 87px;
}
tbody tr td.media{
    max-height: 70px;
}
.panel_discussion{
    background: #34495E url(../img/discussion_bg.png) no-repeat 97% 50%;
}
.bigdata_color{
    background: #FFB849 url(../img/hadoop_logo.png) no-repeat 97% 50%;
}
.mobile_color{
    background: #9B59B6 url(../img/mobile_bg.png) no-repeat 95% 50%;
}
.cloud_color{
    background: #3498DB url(../img/cloud_bg.png) no-repeat 97% 50%;
}
.workshop_color{
    background: #E74C3C url(../img/workshop_bg.png) no-repeat 97% 50%;
}
td .media-body{
    color: white;
}
h4.table-speaker{
    color: #34495E;
    font-size: 17px;
    margin-left: -10px;
}

.schedule-table img{
    width: 100px;
    float: left;
}
a.social-icons, a.social-icons{
    margin-top: 10px;
    display: inline-block;
    height: 25px;
    width: 25px;
}
a.facebook{
    background: url(../img/social-icons/facebook.png) no-repeat;
}
a.twitter{
    background: url(../img/social-icons/twitter.png) no-repeat;
}
a.gplus{
    background: url(../img/social-icons/google+.png) no-repeat;
}
a.linkedin{
    background: url(../img/social-icons/linkedin.png) no-repeat;
}

/* Speakers Page */

.zigzag-box{
    padding:80px 0;
}
.zigzag-box .media-object{
    padding:0 20px;
}
.zigzag-box  .media{
    padding: 30px 0 30px 0;
}
.content-box{
    padding:80px 0;
}
.sponsors-box{
    padding:30px 0; 
}
.sponsors-box img{
    max-width: 200px;
    padding: 10px;
}

.sponsors-image-box, .sponsors-image-box2, .sponsors-image-box3{
    padding: 40px 0;
}

.sponsors-image-box2 img{
    width: 165px;
}
.sponsors-image-box3 img{
    width: 120px;
}
.sponsors-image-box4{
    padding-bottom: 40px;
}
.sponsors-image-box4 img{
    width: 120px;
}
.border{
    background: url(../img/section-bg.jpg) no-repeat center bottom;
}

h5.sessions{
margin:2px 0;
}
span.linedin-follow{
    margin-left: 10px;
}
.session-list li a{
    color: #2C3E50;
    font-size: 14px;
}
#filters li{
    margin: 5px;
    color:#E74C3C;
    padding:2px 5px;
    border-radius: 4px;
    font-size:16px;
    font-weight: 500;
    margin-bottom: 20px;
}
#filters li:hover {
  background: #95A5A6;
  color: #fff;
}
#filters li.active{
    background-color: #E74C3C;
    color: #fff;
}

.filter-speaker li a:hover{
text-decoration: underline;
}
.list{
    width: 200px;
    webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    transition: left .4s ease-in-out, top .4s ease-in-out .4s;
 }

.list h4{
    margin:  5px 10px 5px 5px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.list h4 span{
    display: block;
    font-size: 14px;
}
#tiles {
    list-style: none;
list-style-type: none;
position: relative;
margin: 0;
}
#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li {
width: 200px;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
display: none;
cursor: pointer;
padding:5px;
webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
-moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
-ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
-o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}
ul#tiles li > div > img {
    display: block;
}
.social{
    margin-bottom: 5px;
}
.social a{
    line-height: 25px;
    margin:0 5px; 
}
.social .icon-facebook, .social .icon-twitter, .social .icon-linkedin{
    color: #848484;
}
.social .icon-facebook:hover{
    color: #3B5998;
}
.social .icon-twitter:hover{
    color: #9AE4E8;
}
.social .icon-linkedin:hover{
    color: #0e76a8;
}
/* FOOTER
---------------------- */
footer div.bar{
    background: url(../img/bar_back.png) repeat-x bottom #fff;
    text-align: right;
    padding-right: 10em;
}
footer div.inner{
    padding-bottom: 10px;
    padding-top: 30px;
}
footer li{
    font-size: 1.1em;
    list-style: none;
    padding-bottom: 2px;
}
.clear{
    clear: both;
}
.with_love{
    text-align: center;
    font-size: 1em;
    padding-right: 10px;
    padding-top: 20px;
}
.with_love i{
    color: #E74C3C;
}
.with_love a:hover {
  color: #E74C3C;
}
footer a{
    font-weight: normal;
}
footer li.heading{
    font-weight: bold;
    padding-bottom: 10px;
    color: #3498DB;
}

footer .links{
    text-align: center;
}
footer .links a{
    padding: 5px 20px;
    display: inline-block;
}
footer .links a:hover{
    color: #E74C3C;
}


/* Venue Page */
.venue  .media{
    margin-top: 10px;
}
.venue  .media p img{
    width: 200px;
}
.days-weather li {
    font-size: 20px;
    padding-right:0 10px;
    border-right:4px solid #eee;
}
ul.days-weather li:last-child{
    border-right: none;
}
.days-weather li a{
    color: #34495E;
}
.days-weather li a:hover{
    color: #D35400;
}
.days-weather li a.active{
color: #D35400;
}

/*-----About Page
--------------------*/
#f1_container {
  position: relative;
  margin: 10px auto;
  width: 310px;
  height: 390px;
  z-index: 1;
}
#f1_container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
#f1_card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card, #f1_container.hover_effect #f1_card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  -webkit-box-shadow: -5px 5px 5px #aaa;
  -moz-box-shadow: -5px 5px 5px #aaa;
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.face img{
    max-width: 310px;
}
.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
}
.face.mobile{
    background: #F1C40F;
}
.face.cloud{
    background: #3498DB;
}
.face.bigdata{
    background:#16A085;
}

#about-features ul{
    list-style: none;
}

#about-features ul li{
    padding: 5px;
    width: 360px;
    height: 310px;
    display: inline-block;
}
.fancy-container{
    position: absolute;
    text-align: left;
    width: 360px;
    height: 310px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #fff;
}
.fancy-container h4{
    padding: 10px 0  0 0;
    font-size: 1.5em;
}
.fancy-container img{
    margin:0 auto;
    padding: 5px 0;
    height: 100px;
}
.fancy-container p{
    font-size: 15px;
}
.fancy-container.developers{
    background: #2980B9;
}
.fancy-container.investors{
    background: #34495E
}
.fancy-container.medias{
    background: #9B59B6
}
.fancy-container.students{
    background: #E74C3C;
}
.fancy-container.startups{
    background: #1ABC9C;
}
.fancy-container.business{
    background: #F39C12;
}
.fancy-container .points{
    padding:5px 15px;
}
.fancy-container .points i{
    margin-right: 5px;
}

#people-behind img{
    width: 180px;
}
.multi-columns{
    column-count:2;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2;
    -o-column-count:2; /* Safari and Chrome */
}
.contact-us p{
    font-size: 1.2em;
    padding: 20px 0;
}
.contact-us span{
    color: #34495E;
    font-size: 2em;
    line-height: 2em;
}
/*     NEWS POSTS
------------------------- */

.news-wrapper{
    padding: 1.5em 3em;
}
.news-wrapper .icon{
    /*background: #222;*/
    color: #222;
    border-radius: .1em;
    padding: .1em;
    font-size:6em;
}
.news-date{
    color: #999;
    border-bottom: #999 solid .1em;
    padding-bottom: .3em;
    margin-bottom: 2.5em;
}
.news-wrapper .row-fluid{
    margin-bottom: 2.5em;
}
.news-event p{
    color: #666;
}
.news-event h4{
    color: #333;
}